@model Marathon.Internal.UI.ViewModels.Booking.CollectViewModel

@{
    ViewBag.Title = "Collect";
}

<h1>Collect</h1>

@using (Html.BeginForm("Collect", "Booking", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
{
    @Html.ValidationSummary(false, "There were some problems with the information you entered, please correct and resubmit.")
    <div class="form-group">
        @Html.LabelFor(model => model.BookingNumber, new { @class = "control-label col-sm-3" })
        <div class="col-sm-6">     
            @Html.TextBoxFor(model => model.BookingNumber, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BookingNumber)
        </div>
    </div>
    
    <div class="form-group">        
        <div class="col-sm-offset-3 col-sm-9">
            <a href="#" id="getSummaryLink">Fetch Details</a>
            <div id="summaryDiv">
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Mileage, new { @class = "control-label col-sm-3" })
        <div class="col-sm-6">     
            @Html.TextBoxFor(model => model.Mileage, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Mileage)
        </div>
    </div>
    <div class="form-group">        
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/Booking/Shared")
}
