@model Marathon.Internal.UI.ViewModels.Booking.ReturnViewModel

@{
    ViewBag.Title = "Return";
}

<h1>Return</h1>

@using (Html.BeginForm("Return", "Booking", FormMethod.Post, new { role = "form" }))
{
    @Html.ValidationSummary(false, "There were some problems with the information you entered, please correct and resubmit.")
    <div class="form-group">
        @Html.LabelFor(model => model.BookingNumber)
        @Html.TextBoxFor(model => model.BookingNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.BookingNumber)
    </div>
    <a href="#" id="getSummaryLink">Fetch Details</a>
    <div id="summaryDiv">
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Mileage)
        @Html.TextBoxFor(model => model.Mileage, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Mileage)
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
}

@section Scripts
{
    @Scripts.Render("~/bundles/Booking/Shared")
}
