@model Marathon.Internal.UI.ViewModels.Booking.ReturnViewModel

@{
    ViewBag.Title = "Return";
}

<h1>Return</h1>

@using (Html.BeginForm("Return", "Booking", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
{
    @Html.ValidationSummary(false, "There were some problems with the information you entered, please correct and resubmit.")
    <div class="form-group">
        @Html.LabelFor(model => model.BookingNumber, new { @class = "control-label col-sm-3" })
        <div class="col-sm-6">     
            @Html.ValidationMessageFor(model => model.BookingNumber)
            @Html.TextBoxFor(model => model.BookingNumber, new { @class = "form-control" })
        </div>
    </div>
    <a href="#" id="getSummaryLink">Fetch Details</a>
    <div id="summaryDiv">
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Mileage, new { @class = "control-label col-sm-3" })
        <div class="col-sm-6">     
            @Html.ValidationMessageFor(model => model.Mileage)
            @Html.TextBoxFor(model => model.Mileage, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">        
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success">Submit</button>
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/Booking/Shared")
}
