@model Marathon.External.UI.ViewModels.Booking.CollectViewModel

@section JavaScript
{
    <script src="@Url.Content("~/Scripts/Booking/Collect.js")" type="text/javascript"></script>
}

@{
    ViewBag.Title = "Collect";
}

<h2>Collect</h2>

@using (Html.BeginForm("Collect", "Booking", FormMethod.Post, new { role = "form" }))
{
    @Html.ValidationSummary(false, "There were some problems with the information you entered, please correct and resubmit.")
    <div class="form-group">
        @Html.LabelFor(model => model.BookingNumber)
        @Html.TextBoxFor(model => model.BookingNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.BookingNumber)
    </div>
    <a href="#" id="getSummaryLink">Fetch Details</a>
    <div id="summaryDiv">
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Mileage)
        @Html.TextBoxFor(model => model.Mileage, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Mileage)
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
}