<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @RenderSection("Canonical", required: false)
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/marathon")
    @RenderSection("CSS", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/marathon")
    @RenderSection("Scripts", required: false)
</head>
<body class="marathon">
    <header role="banner">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="../" class="navbar-brand">Marathon</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" >
                    <ul class="nav navbar-nav">
                        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="dropdown-open" >
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Customer</a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Register Collection", "Collect", "Booking")</li>
                                <li>@Html.ActionLink("Register Return", "Return", "Booking")</li>
                            </ul>
                        </li>
                        <li class="dropdown-open" >
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Invoice</a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Generate Invoice", "Generate", "Invoice")</li>
                                <li>@Html.ActionLink("Mark as Paid", "MarkAsPaid", "Invoice")</li>
                            </ul>
                        </li>
                        <li><a href="#">Maintenance</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (Request.IsAuthenticated)
                        {
                            <li class="dropdown-open" >
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Signed in as: @User.Identity.Name<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Sign Out", "SignOut", "User", routeValues: null, htmlAttributes: null)</li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Sign In", "SignIn", "User", routeValues: null, htmlAttributes: null)</li>
                            <li>@Html.ActionLink("Register", "Register", "User", routeValues: null, htmlAttributes: null)</li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container-fluid">
        @RenderBody()
    </main>
</body>
</html>
